* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 16px;
    color: #364fc7;
}
button {
    background-color: #1c7ed6;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 8px;
}
#functional-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
    gap: 16px;
    margin-left: 100px;
    margin-right: 100px;
}
#input-url {
    border: 3px solid #1c7ed6;
    padding: 9px;
    border-radius: 8px;
}
input:focus {
    border: 3px solid #1c7ed6;
}
#container {
    display: flex;
    justify-content: center;
    margin: 24px 100px 24px 100px;
}
#list {
    display: flex;
    justify-content: center;
    background-color: #edf2ff;
    padding: 64px;
    margin: 24px 100px 24px 100px;
    border-radius: 5px;
}
li {
    margin-bottom: 12px;
}
p {
    background-color: #edf2ff;
    padding: 12px;
}